/*--------
Importar fuente de google
----------*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

/*----------
Global CSS Para definir el stilo de fuente
-----------*/
:root{
    --Font: #E5E5E5;
    --White: #FFFFFF;
    --grey: #343A40;
    --DarkBlue: #0A3871;
    --Grey:#C5C5C5;
    --mediumGrey: #67808E;  
    --lightGrey: #405057;
    --rgba: rgba(#0,0,0, 0.08);
    --witheBlue: #d8dfe8;
    --mediumBlue: #0a38718a;    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', 'sans-serif';
    text-decoration: none;
    background: var(--White);
}

::selection{
    background: var(--DarkBlue);
    color: var(--White);
}

body {
    height: 100%;
}

img {
    max-width: 100%;
}

/*-----------------
Encabezado del HTML
-----------------*/

header {
    position: absolute;
    margin: 40px 0px 0px 40px;
}

header .logo{
    display: flex;
    align-items: flex-start;
    width: 400px;
    height: 90px;
}

/*------------------
Seccion main del encriptador
------------------*/
main {
    display: flex;
    flex-direction: row;
    background: url(/images/fondo.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.encrypter {
    width: 60%;
    margin: 160px 0px 0px 140px;
    background: transparent;
}

.encrypt {
    width: 660px;
    height: 290px;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    outline: none;
    border: 1px solid var(--Grey);
    border-radius: 15px;
    resize: none;
}

.encrypt::placeholder,:focus{
    color: var(--DarkBlue);
}

.encrypter-warning{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 10px;
    position: absolute;
    top: 460px;
}

.warning-text{
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    opacity: 0.8;
    color: var(--mediumGrey);
}

.container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
    top: 530px;
}

.btn-encrypt{
    width: 300px;
    height: 50px;
    padding: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: var(--White);
    background: var(--DarkBlue);
    border: 1px solid var(--DarkBlue);
    border-radius: 20px;
    cursor: pointer;
}

.btn-encrypt:active{
    box-shadow: inset 1px 1px 4px var(--Font);
    inset: -3px - 5px - 10px var(--DarkBlue);
    color: var(--witheBlue);
}

.btn-decrypt{
    width: 300px;
    height: 50px;
    padding: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--DarkBlue);
    background: var(--witheBlue);
    border: 1px solid var(--DarkBlue);
    border-radius: 20px;
    cursor: pointer;
}

.btn-decrypt:active{
    box-shadow: inset 1px 1px 4px var(--DarkBlue);
    inset: -3px - 5px - 10px var(--Font);
    color: var(--mediumBlue);
}
/*-------
Hasta aqui se hizo el pull
--------*/

.board{
    width: 270px;
    height: 580px;
    background: var(--Font);
    box-shadow: 10px 25px 30px -10px var(--grey);
    position: relative;
    margin-top: 40px;
    border-radius: 45px 30px 20px 10px;
    text-align: center;
}

.board-container{
    width: 250px;
    margin: auto;
    margin-top: 50%;
    background: var(--Font);
}

.img-lupa{
    background: var(--Font);
}

.text-one{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    color: var(--grey);
    background: var(--Font);
}

.text-two{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: var(--mediumGrey);
    background: var(--Font);
}


.result{
    width: 100%;
    height: 450px;
    position: absolute;
    padding: 20px;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    color: var(--lightGrey);
    background: transparent;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border: none;
    resize: none;
}

.evaluate:focus{
    outline: none;
}

.btn-copy{
    width: 220px;
    height: 60px;
    margin: 20px;
    position: absolute;
    bottom: 0;
    left: 0%;
    visibility: hidden;
    padding: 20px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    background: var(--witheBlue);
    border: 1px solid var(--DarkBlue);
    border-radius: 15px;
    cursor: pointer;
}

.btn-encrypt:hover,
.btn-decrypt:hover,
.btn-copy:hover{
    transform: scale(0.95);
}

/*------
Footer
-------*/

footer{
    height: 5px;
    color: var(--Grey);
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border-top: 2px solid var(--Font);
    font-size: 20px;
    font-weight: 800;
    color: var(--grey);
}

.github:hover{
    color: var(--Font);
    opacity: 0.5;
}

.linked:hover{
    color: var(--Font);
    opacity: 0.5;
}

/*-------------
¿Como hacer resposivo el diseño?
--------------*/
@media(max-width: 1250px){
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .encrypter{
        margin: 165px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .container{
        display: flex;
        align-items: center;
        position: inherit;
    }

    .encrypter-warning{
        position: inherit;
        margin: 15px;
    }

    .board{
        display: flex;
        width: 650px;
        height: 300px;
        justify-content: center;
        align-items: flex-end;
    }

    .board-container{
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: absolute;
        bottom: 20%;
        font-size: 25px;
        font-weight: 700;
    }

    .img-lupa{
        display: none;
    }

    .btn-copy{
        position: inherit;
        width: 100%;
    }

    .evaluate{
        width: 100%;
        height: 200px;
        padding: 10px;
    }
}

@media(max-width: 720px){

    header.logo{
        width: 100%;
        background: var(--White);
        padding: 2px;
    }

    .encrypt{
        width: 90%;
        font-size: 25px;
    }

    .container{
        display: grid;
        gap: 20px;
    }

    .board{
        width: 90%;
    }

    .Copyright{
        font-size: 20px;
    }
}